.post-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.post {
  border-top: 1px solid #e5e5e5;
  padding: 22px 20px;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    border-top: none;
    padding: 0;
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.post--wide {
  @media (min-width: $tablet-width) {
    width: 648px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.post__container {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 20px 20px 10px;
    background-color: #f2f2f2;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    bottom: 80px;
    background-color: rgba(#000000, 0.3);
    color: $color-text-light;
  }
}

.post__picture {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    z-index: -1;
  }
}

.post__title {
  font-weight: 700;
  margin: 0 0 10px;
}

.post__creator {
  font-weight: 400;
  text-transform: none;
  margin: 0 0 10px;
}

.post__like-btn {
  @include hidden-text;
  width: 23px;
  height: 21px;
  border: none;
  background-color: transparent;
  background-image: url("../../../img/icon-like.svg");
  cursor: pointer;
  padding: 0;
  margin-right: 14px;
}

.post__liked {
  font-weight: 700;
}
