.video-about {
  border-top: 1px solid #e5e5e5;
  padding: 39px 41px 40px 42px;

  @media (min-width: $tablet-width) {
    padding: 68px 176px 78px;
  }

  @media (min-width: $desktop-width) {
    padding: 72px 392px 76px;
  }
}

.video-about__title {
  @include font-heading;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.video-about__description {
  display: block;
  margin: 0;
}

.video-container {
  @media (min-width: $tablet-width) {
    position: relative;
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 200px;
  }
}

.video-player {
  position: relative;
  z-index: 1;

  @media (min-width: $tablet-width) {
    width: 648px;
    height: 500px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
    height: 500px;
  }
}
