.advantages-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: $color-brand;
  color: $color-text-light;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.advantages-list__item {
  padding-top: 45px;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 256px;
  }
}

.advantages-list__item--triangle {
  padding-top: 60px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.advantages-list__item-title {
  @include font-heading;
  margin: 0 0 16px;

  @media (min-width: $tablet-width) {
    padding: 46px 47px 0;
  }
}

.advantages-list__item-number {
  display: block;
  margin-bottom: 20px;
}

.advantages-list__item-about {
  margin: 0 0 42px;
  padding: 0 30px;
}

// .advantages-list__photo {
//   width: 100%;
//   height: 260px;
//   margin: 0;
//   padding: 0;
//   background-repeat: no-repeat;
//   background-size: 320px 260px;
//   background-position: 0 0;

//   @media (min-width: $tablet-width) {
//     width: 512px;
//   }
// }

// .advantages-list__photo--img-hotel {
//   background-color: #9e9282;
//   background-image: url("../img/main-city-mobile@1x.jpg");

//   @media (min-width: $tablet-width) {
//     background-image: url("../img/main-city-tablet@1x.jpg");
//   }
// }

// .advantages-list__photo--img-mountains {
//   background-color: #7c6258;
//   background-image: url("../img/main-bridge-mobile@1x.jpg");

//
// }

.advantages-list__item--hotel::after {
  content: "";
  background-color: #9e9282;
  background-image: url("../img/main-city-mobile@1x.jpg");
  display: block;
  width: 100%;
  height: 260px;
  background-repeat: no-repeat;
  background-size: 320px 260px;
  background-position: 0 0;
}

.advantages-list__item--mountains::after {
  content: "";
  background-color: #9e9282;
  background-image: url("../img/../img/main-bridge-mobile@1x.jpg");
  display: block;
  width: 100%;
  height: 260px;
  background-repeat: no-repeat;
  background-size: 320px 260px;
  background-position: 0 0;

  @media (min-width: $tablet-width) {
    background-image: url("../img/main-bridge-tablet@1x.jpg");
    width: 500px;
  }
}
