.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: $color-brand;
}


.advantages-list__photo--img-hotel {
  width: 100%;
  height: 260px;
  margin: 0;
  padding: 0;
  background-color: #9e9282;
  background-image: url("../../../img/main-city-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 320px 260px;
  background-position: 0px 0px;
}