.features {
  list-style: none;
  background-color: $color-bg;
  color: $color-text-dark;
  margin: 0;
  padding: 0;
  padding-bottom: 42px;
}

.features__item {
  padding: 41px 41px 0px 69px;
  text-align: left;
}

.features__item-title {
  position: relative;
  @include font-heading;
  margin: 0;
  margin-bottom: 20px;
}

.features__item-about {
  margin: 0;
}

.features__item-title--accommodation::before {
  content: url("../../../img/icon-house.svg");
  position: absolute;
  top: 50%;
  right: 50%;
  width: 39px;
  height: 37px;
}

.features__item-title--souvenirs::before {
  content: url("../../../img/icon-gift.svg");
  position: absolute;
  top: 50%;
  right: 50%;
  width: 39px;
  height: 37px;
}

.features__item-title--food::before {
  content: url("../../../img/icon-burger.svg");
  position: absolute;
  top: 50%;
  right: 50%;
  width: 39px;
  height: 37px;
}
