.hotel-search {
  background-color: $color-bg;
}

.hotel-search__wrapper {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 27px 155px 8px;
  }

  @media (min-width: $desktop-width) {
    padding: 27px 372px 8px;
  }
}

.hotel-search__title {
  display: block;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin: 30px 0 30px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.hotel-search__description {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 40px;
  padding: 0 9px;
}

.hotel-search__link {
  display: block;
  margin-bottom: 50px;
}

.hotel-search__map {
  Background-color: #e2e5d2;
  background-image: url("../../../img/bg-map-mobile@1x.jpg");
  width: 320px;
  height: 350px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}
