.page-intro {
  position: relative;
  margin: 43px 32px 0px;
  background-color: $color-bg;

  &::after {
    content: url("../../../img/bg-triangle.svg");
    position: absolute;
    top: 167px;
    left: -32px;
  }
}

.page-intro__about {
  @include font-heading;
  margin: 0;
  margin-bottom: 40px;
}

.page-intro__reasons {
  @include font-general;
  margin: 0;
}
