.page-intro {
  margin: 43px 32px 0px;
  background-color: $color-bg;
  &::after {
    content: "url("../../../img/bg-triangle.svg")";
  }
}

// // ??????????????????????????????
// .page-intro {
//   background-image: url("../../../img/bg-triangle.svg");
//   background-repeat: no-repeat;
//   background-size: 766px 37px;
//   background-position: 50% 200px;
// }

.page-intro__about {
  @include font-heading;
  margin: 0;
  margin-bottom: 40px;
}

.page-intro__reasons {
  @include font-general;
  margin: 0;
}

