.page-footer {
  background-color: $color-bg;
  width: 100%;
  padding: 35px 85px 23px;
  box-sizing: border-box;
}

.hashtag {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 41px;
  /*??????????*/
}

.social {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 40px auto;
  padding: 0;
}

.social__link {
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }
}

.social__link--twitter {
  background-image: url("../../img/icon-twitter.svg");

  &:active {
    background-image: url("../../img/icon-twitter-down.svg");
  }
}

.social__link--facebook {
  background-image: url("../../img/icon-facebook.svg");

  &:active {
    background-image: url("../../img/icon-facebook-down.svg");
  }
}

.social__link--youtube {
  background-image: url("../../img/icon-youtube.svg");

  &:active {
    background-image: url("../../img/icon-youtube-down.svg");
  }
}

.copyright__logo {
  &:hover,
  &:focus {
    fill: $color-brand;
  }

  &:active {
    fill: #b2b2b2;
  }
}
