.page-intro {
  margin: 43px 24px 33px 26px;
  background-color: $color-bg;

  @media (min-width: $tablet-width) {
    margin: 75px 170px;
  }
}

.page-intro--triangle {
  position: relative;
  margin: 43px 32px 0px;

  @media (min-width: $tablet-width) {
    margin: 51px 139px 55px;
  }

  @media (min-width: $desktop-width) {
    margin: 113px 350px 77px;
  }
}

.page-intro--triangle::after {
  content: url("../img/bg-triangle.svg");
  position: absolute;
  top: 167px;
  left: -32px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-intro__title {
  @include font-heading;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
  }
}

.page-intro__about {
  @include font-general;
  margin: 0;
}
