body {
  @include font-general;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  color: $color-text-dark;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-color: $color-bg;
  text-align: center;
  width: 320px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}